---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
    {% include head.html %}
</head>
<body>
    {% include nav.html %}
    <!-- Header -->
    <header class="header" role="banner">
        <div class="wrapper animated fadeIn">
            <div class="content">
                <div class="post-title {% if page.feature %} feature {% endif %}">
                    <h1>{{ page.title }}</h1>
                    <h4>{{ page.date | date_to_string }}</h4>
                    {% if site.reading_time %}
                    <p class="reading-time">
                      <i class="fa fa-clock-o"></i>
                      {% include read-time.html %}
                    </p><!-- /.entry-reading-time -->
                    {% endif %}
                    {% if page.project %}
                    <a class="btn zoombtn" href="{{site.url}}/projects/">
                    {% else %}
                    <a class="btn zoombtn" href="{{site.url}}/posts/">
                    {% endif %}
                        <i class="fa fa-chevron-left"></i>
                    </a>
                </div>
                {{ content }}
                <div class="entry-meta">
                {% include meta.html %}
                </div>
            </div>
        </div>
        <!--<section id="disqus_thread" class="animated fadeInUp"></section>-->
        {% if page.comments and site.disqus_shortname %}
        <section id="disqus_thread" class="animated fadeInUp">
            <!--<div id="duoshao_share" class="ds-share flat" data-thread-key="{{ page.title }}" data-title="{{ page.title }}" data-images="{{page.feature}}" data-content="{{ page.title }} &#45;&#45; Zack's Blog" data-url="{{window.location.href}}">-->
                <!--<div class="ds-share-inline">-->
                    <!--<ul  class="ds-share-icons-16">-->

                        <!--<li data-toggle="ds-share-icons-more"><a class="ds-more" href="javascript:void(0);">分享到：</a></li>-->
                        <!--<li><a class="ds-weibo" href="javascript:void(0);" data-service="weibo" >微博</a></li>-->
                        <!--<li><a class="ds-wechat" href="javascript:void(0);" data-service="wechat" >微信</a></li>-->

                    <!--</ul>-->
                    <!--<div class="ds-share-icons-more">-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <div id="duoshao_comment" class="ds-thread" data-thread-key="{{ page.title }}" data-title="{{ page.title }}" data-url="{{site.url}}" ></div>
        </section>
        {% endif %}
    </header>
    {% include scripts.html %}
    {% if site.mathjax == true %}
    <!-- MathJax -->
    <script async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    {% endif %}

</body>
</html>
